.pet-tile {
  border-radius: 4px;
  background-color: #f5f5f5;
}

/*
.pet-tile:hover {
  box-shadow: 2px 2px 15px 0 rgba(112, 122, 133, 1);
  transition: all 0.2s ease-in-out;
}
*/

.pet-tile-contents {
  padding: 5px;
}

.pet-family-image {
  height: 50px;
  position: absolute;
  right: 110px;
  top: -70px;
  width: 50px;
  opacity: 0.15;
}
