$theme-default: #777;
$theme-uncommon: #5cb85c;
$theme-rare: #337ab7;

.battle-stat {
  display: flex;
}

.mat-grid-tile-footer {
  color: black !important;
  height: 30px !important;
  background-color: transparent !important;
  justify-content: center !important;
}

.header {
  font-size: 11px !important;
  height: 30px !important;
  justify-content: space-between;
}

.header-default {
  @extend .header;
  background-color: $theme-default !important;
}

.header-rare {
  @extend .header;
  background-color: $theme-rare !important;
}

.header-uncommon {
  @extend .header;
  background-color: $theme-uncommon !important;
}

.icon {
  border: 1px solid black;
  height: 54px;
  margin-top: 5px;
  padding: 2px;
  width: 54px;
}

.icon-default {
  @extend .icon;
  background-color: $theme-default;
}

.icon-rare {
  @extend .icon;
  background-color: $theme-rare;
}

.icon-uncommon {
  @extend .icon;
  background-color: $theme-uncommon;
}

.gender {
  border-top: 1px solid #b3b3b3;
  display: flex;
  justify-content: center;
  padding-top: 3px;
  width: 75%;
}

.level-breed {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4px;
}

.pet-family-image {
  position: absolute;
  right: -40px;
  top: -10px;
  opacity: 0.1;

  img {
    height: 175px;
    width: 175px;
  }
}

.pet-grid {
  margin: 8px;
}

.pet-stat-image {
  height: 18px;
  width: 18px;
}

.pet-tile {
  box-shadow: 2px 2px 10px 0 rgba(112, 122, 133, 1);
}

.pet-tile:hover {
  background-color: rgba(215, 215, 215, 0.2);
}

.pet-tile-column {
  display: flex;
  flex: 1 1 auto;
}

.pet-tile-column-breed {
  @extend .pet-tile-column;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.pet-tile-column-icon {
  @extend .pet-tile-column;
  align-items: center;
  justify-content: center;
}

.pet-tile-column-stats {
  @extend .pet-tile-column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.pet-tile-body {
  display: flex;
  flex: 1 1 auto;
}

.pet-tile-container {
  border: 1px solid #d7d7d7;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 99%;
}

.pet-tile-contents {
  padding: 5px;
}


