<mat-toolbar class="toolbar-container">
  <mat-toolbar-row>
    <div class="header-left">
      <img src="../../../assets/images/shift_p.svg">
    </div>
    <div class="header-middle">

      <form [formGroup]="formGroup" autocomplete="off" #formDirective="ngForm">
        <!-- REGION -->
        <mat-form-field class="field-region">
          <mat-select placeholder="Region" formControlName="region"
                      (change)="changeRegion()">
            <mat-option value="US"> US</mat-option>
            <mat-option value="EU"> EU</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- REALM -->
        <mat-form-field class="toolbar-input-spacer field-realm">
          <input matInput placeholder="Realm" aria-label="Realm" [matAutocomplete]="auto" formControlName="realm">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let realm of filteredRealms | async" [value]="realm.name">
              {{realm.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- NAME -->
        <mat-form-field class="toolbar-input-spacer">
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <!-- SUBMIT -->
        <div class="toolbar-input-spacer toolbar-submit-button">
          <button mat-raised-button type="button" color="primary"
                  (click)="submitSearch()"
                  [disabled]="!formGroup.get('realm').value || !formGroup.get('name').value">
            Search
          </button>
        </div>
      </form>

    </div>
    <div class="header-right">
      <img [src]="avatar.url" *ngIf="avatar.url">
    </div>
  </mat-toolbar-row>
</mat-toolbar>


