.home-container {
  display: flex;
  align-items: center;
  height: 50%;
  justify-content: center;
}

.home-content {
  width:auto;
}

.logo {
  height: 25px;
  margin-bottom: -2px;
  width: 90px;
}
